.navbar {
    background: #001f48;
    color: white;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-container{
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-logo{
    width: 110px;
    height: auto;
}

.logo-texto h1, .logo-texto h2, .logo-texto h3{
    margin: 0;
    padding: 0;
}

.titulo1{
    color: #f7e200;
    font-size: 1.1rem;
}

.nav-links {
    display: flex;
    font-size: 16pt;
    gap: 40px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    padding-bottom: 6px;
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease;
}

.nav-links a.active{
    color: #f7e200;
    border-bottom: 3px solid #f7e200;
}


@media (max-width: 768px) {
    .navbar {
        padding: 15px 10px !important; 
        flex-direction: column !important; 
        gap: 15px !important; 
        text-align: center !important;
        width: 100% !important;
        max-width: 100% !important;
        box-sizing: border-box !important;
    }

    .brand-container {
        flex-direction: column !important; 
        gap: 4px !important;
        width: 100% !important;
    }

    .logo-texto h1, 
    .logo-texto h2, 
    .logo-texto h3 {
        white-space: normal !important; 
        display: block !important;
    }
    
    .titulo1 {
        font-size: 0.9rem !important; 
    }
    
    .logo-texto h1 {
        font-size: 1.3rem !important; 
    }

    .logo-texto h2 {
        font-size: 0.85rem !important; 
        color: #d1d5db !important;
    }

    .logo-texto h3 {
        font-size: 0.70rem !important; 
        color: #cbd5e1 !important;
    }

    .navbar-logo {
        width: 55px !important; 
    }

    .nav-links {
        display: flex !important;           
        flex-direction: row !important;
        justify-content: center !important; 
        gap: 30px !important;             
        width: 100% !important; 
        margin: 5px 0 0 0 !important; 
        padding: 0 !important;
    }

    .nav-links a {
        font-size: 24px !important;        
        justify-content: center !important;
        padding: 6px !important;
        gap: 0 !important;                  
        border-bottom: 3px solid transparent !important;
    }

    .nav-links a.active {
        color: #f7e200 !important;
        border-bottom: 3px solid #f7e200 !important; 
    }

    .nav-links a span {
        display: none !important;
    }
}
